%section.container
  %h1 Monit Services
  - @cluster.servers.each_with_index do |server, index|
    .row
      .col-sm-6
        %span
          %b
            = link_to server.system.name, service_path(@servers[index])
            - if server.system.status == 0
              %i.fa.fa-check-circle
            - else
              %i.fa.fa-times-circle
      .col-sm-2
        %span.pull-right
          Load:
          %b
            = server.system.load
      .col-sm-4
        %span.pull-right
          Uptime:
          %b
            = time_in_words(server.system.uptime)
    .row
      .col-sm-2
        %span
          CPU:
          %b
            = "#{server.system.cpu}%"
      .col-sm-10
        = render partial: 'services/progress', locals: {percent: server.system.cpu}
    .row
      .col-sm-2
        %span
          Memory:
          %b
            = "#{server.system.memory}%"
      .col-sm-10
        = render partial: 'services/progress', locals: {percent: server.system.memory}